.Rproj.user
.Rhistory
.RData
.Ruserdata

Thinkific/data/

Thinkific/images/

Thinkific/cleaned_data/

*.csv

MCRC/data/

*.xlsx

*.docx

Opioid/services_provided

*.xml

*.xsl

Thinkific/stanford-corenlp-4.3.1/

*.txt

*.rds
